*.iml
.gradle
/local.properties
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/tasks.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
# Android Studio 3 in .gitignore file.
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
.idea/navEditor.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
libs/
/.idea/
